@tailwind base;
@tailwind components;
@tailwind utilities;

.container-animation {
  overflow: hidden;
}

.stage_animation {
  white-space: nowrap;
  display: inline-block;
  animation: stage_animation 15s linear infinite;
}

.h4-animation {
  display: inline-block;
}

@keyframes stage_animation {
  0% {
    transform: translate3d(90%, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
}
